<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ko" }}">

{%- include head.html -%}
    <meta property="og:image:url" content="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2Fboomub%2FbtrQ655agW5%2FF9lnGzCWf9J8ZvkyQOyC2k%2Fimg.jpg">
  
    <!-- HTML Meta Tags -->
    <title>Junior Product Manger</title>
    <meta name="description" content="Repo for English resume page.">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://seungjohan.github.io/korea/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Junior Product Manger">
    <meta property="og:description" content="Repo for English resume page.">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://seungjohan.github.io/korea/">
    <meta name="twitter:title" content="Junior Product Manger">
    <meta name="twitter:description" content="Repo for English resume page.">
    <meta name="twitter:image:url" content="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2Fboomub%2FbtrQ655agW5%2FF9lnGzCWf9J8ZvkyQOyC2k%2Fimg.jpg">

<body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">

            {%- include about.html -%}

            {%- if site.data.experience.size > 0 -%}
                {%- include experience.html -%}
            {%- endif -%}

            {%- if site.data.relevantskills.size > 0 -%}
                {%- include relevantskills.html -%}
            {%- endif -%}

            {%- if site.data.education.size > 0 -%}
                {%- include education.html -%}
            {%- endif -%}

            {%- if site.data.relevantactivities.size > 0 -%}
                {%- include relevantactivities.html -%}
            {%- endif -%}

            {%- if site.data.projects.size > 0 -%}
                {%- include projects.html -%}
            {%- endif -%}

            {%- include more.html -%}

        </div>
    </main>

    {%- include footer.html -%}

</body>

</html>
