<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ko" }}">

{%- include head.html -%}
    <meta property="og:image" content="../images/profile.jpg">
<body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">

            {%- include about.html -%}

            {%- if site.data.experience.size > 0 -%}
                {%- include experience.html -%}
            {%- endif -%}

            {%- if site.data.relevantskill.size > 0 -%}
                {%- include relevantskill.html -%}
            {%- endif -%}

            {%- if site.data.education.size > 0 -%}
                {%- include education.html -%}
            {%- endif -%}

            {%- if site.data.relevantactivity.size > 0 -%}
                {%- include relevantactivity.html -%}
            {%- endif -%}

            {%- if site.data.projects.size > 0 -%}
                {%- include projects.html -%}
            {%- endif -%}

            {%- include more.html -%}

        </div>
    </main>

    {%- include footer.html -%}

</body>

</html>
